@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

a {
    @apply no-underline hover:no-underline;
  }

/* Ocultar Swiper en desktop */
@media (min-width: 768px) {
  .product-swiper { display: none; }
}

/* Ocultar la galería de escritorio en móviles */
@media (max-width: 767px) {
  .desktop-gallery { display: none; }
}

/* 🔒 Ocultar la sección del cupón en el checkout */
.woocommerce-form-coupon-toggle {
  display: none !important;
}

a {
  text-decoration: none !important;
}

@layer utilities {
  .hide-swiper-button-on-mobile {
    @apply hidden md:flex;
  }
}

@layer components {
  .swiper-horizontal > .swiper-scrollbar {
    @apply h-1.5 bg-transparent rounded-full pointer-events-none;
    position: absolute;
    left: 4px; right: 4px; bottom: 4px;
  }
  .swiper-scrollbar-drag {
    @apply bg-blue-500/80 rounded-full shadow-md pointer-events-auto;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
  .swiper-scrollbar-drag:hover {
    @apply bg-blue-600;
  }
}
